.early-access {
    background-color: $color-desaturated-blue;
    @media only screen and (max-width: $bp-medium) {
        text-align: center;
    }

    &__text {
        color: $color-main;
        width: 50%;
        margin-right: 30rem;
        @media only screen and (max-width: $bp-medium) {
            width: 90%;
            margin-right: 0;
        }
    }
    &__form {
        width: 50%;
        @media only screen and (max-width: $bp-medium) {
            width: 90%;
            margin-top: 3rem;
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }
    }
}
